{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
</head>

<body>
    <aside>

        <h3>Navigation</h3>
        <ul>
            <a href="{% url 'index' %}">
                <li><i class="fas fa-home"></i>Main page</li>
            </a>
            <a href="{% url 'about' %}">
                <li><i class="fas fa-address-card"></i>About us</li>
            </a>
            <a href="#">
                <li><i class="fas fa-paper-plane"></i>Contact us</li>
            </a>
            <a href="{% url 'news_home' %}">
                <li><i class="far fa-newspaper"></i>News</li>
            </a>
            
        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>