{% extends 'main/layout.html' %}

{% block title %}
News on site
{% endblock %}

{% block content %}
<div class="features">
    <h1>News on site</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio architecto sequi assumenda quisquam possimus dicta
        veniam, magnam maiores! Libero similique beatae est maxime saepe quam quia! Dolore explicabo ipsam earum.</p>
    <button class="btn btn-warning">About us</button>
    {% for el in values %}
        <p>{{ el }}</p>
    {% endfor %}
</div>
{% endblock %}